VITE_SUPABASE_URL=https://ygebktgpcgdkwfokombe.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlnZWJrdGdwY2dka3dmb2tvbWJlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkyMDAxNzEsImV4cCI6MjEwNDc3NjE3MX0.sbc06Rnh5FQy7dkTQBXJSTaldMOH6bF72qCIsNYwkhE
